* {
    outline: none; /*Siniset ääriviivat pois sivustolta*/
    padding: 0; /*Selaimen oma automaattinen padding nollaan*/
    margin: 0;
    font-family: 'Montserrat', sans-serif; /*Valitaan fontit, heittomerkeissä oleva on ensisijainen fontti*/
}

html{
    height: 100%;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
}

body{
    background-color: #F3F3F3;
    height: 100%;
}
#navimiddle{
    width: 34%;
    border: black;
}

.navilinkit{
    position: relative;
    display: block;
    width: 100%;
    color: #FFFFFF;
    text-align: center;
    box-sizing: border-box;
    /* float: left;*/
    padding: 5px;
    border: #00892A groove 2px;
    border-radius: 5px;
    height: 100%;
}
.navi {
    float: left;
    box-sizing: border-box;
    text-align: center;
    width: 33%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
    height: 30px;
    background-color: #00792C;
}
.navi:hover:not(.active) {
    background-color: #00521e;
  }
.navilista{
    margin-bottom: 30px;
}
.forms {
     display: flex;
     flex-wrap: wrap;
 }
.form-wrapper {
    background-color: #E0E0E0;
    border: 1px solid black;
    transform: translate(50%, 50%);
    width: 50%;
}
input, button{
    display: inline-block;
    width: 99%;
    margin: .5em 0;
}

@media only screen and (max-width: 800px) {
    .navi{
        margin: 0 0 0 0;
        height: 30px;
        width: 100%;
    }
    .navilista{
        height: 90px;
    }
    .navilinkit {
        width: 100%;
    }
    #navimiddle{
        width: 100%
    }
}