ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
}


.forms {
     display: flex;
     flex-wrap: wrap;
 }
.form-wrapper {
    background-color: #E0E0E0;
    border: 1px solid black;
    transform: translate(50%, 50%);
    width: 50%;
}
input, button{
    display: inline-block;
    width: 99%;
    margin: .5em 0;
}
