* {
    outline: none; /*Siniset ääriviivat pois sivustolta*/
    padding: 0; /*Selaimen oma automaattinen padding nollaan*/
    margin: 0;
    font-family: 'Montserrat', sans-serif; /*Valitaan fontit, heittomerkeissä oleva on ensisijainen fontti*/
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
}

a {
    color: black;
}

html{
    height: 100%;
}
img {
    max-width: 200px;
    max-height: 130px;
}

body{
    background-color: blanchedalmond;
    height: 100%;
}

.light-border {
     border-radius: 8px;
     border: 1px solid #ccc;
     padding: 1em;
     box-sizing: border-box;
 }
.light-border-picture {
    width: 30%;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 1em;
    box-sizing: border-box;
    height: 252px;
    margin-bottom: 30px;
}

.floatleft {
    float: left;
    box-sizing: border-box;
}
#wholepage{
    width: 100%;
    height: 100%;
    margin: 0;
}

#main {
    position: relative;
    width: 100%;
    height: 100%;
}

.picturebox {
    margin: auto;
    text-align: center;

}
#navimiddle{
    width: 34%;
}
.navilinkit{
    position: relative;
    display: block;
    width: 100%;
    color: #FFFFFF;
    text-align: center;
    box-sizing: border-box;
    /* float: left;*/
    padding: 5px;
    border: #AF0000 groove 2px;
    border-radius: 5px;
    height: 100%;
}
.navi {
    float: left;
    box-sizing: border-box;
    text-align: center;
    width: 33%;
    display: block;
    margin: auto;
    padding: 0;
    list-style: none;
    height: 30px;
    background-color: olivedrab;
}
.navilista{
    margin-bottom: 30px;
}

.container {
 }

@media only screen and (max-width: 800px) {
    .navi{
        height: 30px;
        width: 100%;
    }
    .navilista{
        height: 90px;
    }
    .navilinkit {
        width: 100%;
    }
    #navimiddle{
        width: 100%
    }
    #left {
        width: 100%;
        float: none;
    }
    #middle {
        width: 100%;
        float: none;
    }
    #right {
        width: 100%;
        float: none;
    }
}